{% extends "layout.html" %}

{% block content %}

<table class="table user-list">
    <thead>
        
        <tr>
            <th class="text-center">NAVIGATOR<span></span></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a href="/add_contacts">Add Contact</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/all_contacts">Show Contacts</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/send_now">Send NOW</a>
            </td>
        </tr>
    </tbody>
</table>

{% endblock %}